// Colors
$black: #000 !default;
$darkest-grey: #212529;
$darker-grey: #313943;
$dark-grey: #495057;
$light-grey: #ADB5BD;
$lighter-grey: #DEE2E6;
$lightest-grey: #F8F9FA;
$white: #FFF !default;

$brand-primary: #2FD399;
$brand-success: #48AD5D;
$brand-danger: #B64C3F;
$brand-warning: #F99331;
$brand-info: #73DCFF;

$darkest-blue: #16191C;
$darker-blue: #1A1E21;
$dark-blue: #1C232A;
$dark-blue-plus: #1E262D;
$lighter-blue: #252D35;
$lightest-blue: #2D363F;

// Uses

$body-bg: $dark-blue;
$navbar-bg: $darkest-blue;
$app-nav-bg: $lighter-blue;
$input-border: $lightest-blue;

$border-dark: $app-nav-bg;
$border-light: $lightest-blue;

$text-default: $white;
$text-subtle: $light-grey;
$text-subdued: $dark-grey;

