// Fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
@import url('https://unpkg.com/bootstrap-vue@1.0.0-beta.9/dist/bootstrap-vue.css');

$font-heading: 'Montserrat', sans-serif;
$font-body: 'Work Sans', sans-serif;

body {

  %pseudo-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  %title {
    font-family: $font-heading;
    font-size: 20px;
    font-weight: 300;
    color: $white;
  }

  %subtitle {
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  %small-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: $white;
  }

  h1, h2, h3, h4, h5, h6 {
    @extend %title;
    padding: 0;
    margin: 0;
  }

  h1 { font-size: 36px; }
  h2 { font-size: 32px; }
  h3 { font-size: 28px; }
  h4 { font-size: 24px; }
  h5 { font-size: 20px; }

  .page-title {
    @extend h3;
    color: $white !important;
    font-family: $font-heading !important;
  }
}
